* {

    margin: 0px;
}


h1 {
    background-color: darkcyan; 
    color: darkorange;
}

.grupo{
background-color: rgb(217, 255, 0);
color: lightseagreen;
margin: 100px;
padding: 200px;
border-radius: 20px;
}